:root{
    --primary: #ff6b35; /* Primary color for the site */
    --secondary: #292929; /* Secondary color for backgrounds */
}
body {
    background-color: var(--secondary)
}

h1{
    font-family: "Rock Salt", cursive;
    font-size: 90px;
    line-height: 160px;
    font-weight: 600;
    color: white;
}
a{
    cursor: pointer;
    color: white;
}
.head-main {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    z-index: 1000;
    background-color: var(--secondary);
    /*flex-direction: row; these commands are defaulted */
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
}
.head-logo {
    margin-left: 60px;
    width: fit-content;
    height: 100%;
    width: 120px;
    color: white;
    font-family: "Rock Salt", cursive;
    font-weight: 600;
    font-size: 26px;
    line-height: 70px;
    transition: color 0.3s ease;
}
.head-logo:hover {
    color: var(--primary);
}

.head-nav {
    height: 100%;
    width: fit-content;
    display: flex;
    margin-right: 60px;
}

.head-nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px; 
}

.head-nav ul li {
    display: inline-block;
}

.head-nav ul li a {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-family: "VT323", monospace;
    font-weight: 100;
    line-height: 25px;
    white-space: nowrap; /* Prevents text wrapping */
    transition: color 0.8s ease;
    display: block; /* Ensures the link is block-level for better click area */ 
    position: relative;
}

.head-nav ul li a:hover {
    font-weight: 600;
}


/* The underline animation using ::after pseudo-element */
.head-nav ul li a::after {
    content: ''; /* Required for pseudo-element to show */
    position: absolute;
    bottom: -5px; /* Position below the text */
    left: 0;
    width: 0; /* Start with no width */
    height: 2px; /* Thickness of the underline */
    background: var(--primary); /* Color of the underline */
    transition: width 0.3s ease; /* Animate the width change */
}

.head-nav ul li a:hover::after {
    width: 100%; /* Expand to full width on hover */
}

.footer-main {
    background-color: var(--secondary);
    color: white;
    text-align: center;
    padding: 10px 0;
    line-height: 26px;
}

.footer-main a{
    font-family: "VT323", monospace;
    font-size: 25px;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-main a:hover {
    color: var(--primary);
}
